.tada-enter {
  &.tada-enter-active {
    animation: tada 400ms ease-out;
  }
}

.tada-leave {
  &.tada-leave-active {
    animation: tada 400ms ease-out;
  }
}

@keyframes tada {
  0% {
    transform: scale(0.3)
  }
  20% {
    transform: scale(1.2)
  }
  60% {
    transform: scale(0.7)
  }
  80% {
    transform: scale(1.1)
  }
  110% {
    transform: scale(1)
  }
}


.cart-fade-enter {
  opacity: 0.01;
  overflow: hidden;
  height: 0;
  &.cart-fade-enter-active {
    opacity: 1;
    height: 51px;
    transition: all 400ms;
  }
}

.cart-fade-leave {
  opacity: 1;
  height: 40px;
  overflow: hidden;
  &.cart-fade-leave-active {
    opacity: 0.01;
    height: 0;
    transition: all 400ms;
  }
}

.test-fade-enter {
  opacity: 0.01;
  height: 0;
  &.test-fade-enter-active {
    opacity: 1;
    height: 163px;
    transition: all 400ms;
  }
}

.test-fade-leave {
  opacity: 1;
  height:163px;
  &.test-fade-leave-active {
    opacity: 0.01;
    height: 0;
    overflow: hidden;
    transition: all 400ms;
  }
}

.toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.toggle-round + label {
  padding: 2px;
  width: 70px;
  height: 36px;
  background-color: #dddddd;
  border-radius: 30px;
}

input.toggle-round + label:before,
input.toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

input.toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.toggle-round + label:after {
  width: 38px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.toggle-round:checked + label:after {
  margin-left: 40px;
}
