$eastern-blue: #0087A5;
$tiffany-blue: #00B8B0;
$dull-cyan: #3EB7C1;
$dark-pastel-purple: #9D6EDB;
$violet: #A76498;
$violet-dark: #8a517e;
$torch-red: #FE1340;
$green-pale: #E4EAE7;
$beige: #F3F2EC;
$copy-text: #353535;