.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0cebeb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, $dull-cyan, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $dull-cyan, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  > .inner {
    width: 200px;
  }
}

.login-logo {
  position: relative;
  top: -40px;
  height: 150px;
  width: 150px;
  background: url('../assets/images/wital_logo_white.png') no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.login-form {
  input, button {
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  #ssn {
    padding: 12px 16px;
    font-size: 20px;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
    background-color: white;
    font-weight: 400;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #318a91;
      font-weight: 300;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #50e4ef;
      font-weight: 300;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #50e4ef;
      font-weight: 300;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #50e4ef;
      font-weight: 300;
    }
  }
  .login-button {
    margin-top: 4px;
    padding: 16px;
    background-color: $violet;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: white;
    transition: all 300ms;
    &:hover {
      color: white;
      background-color: $violet-dark;
    }
    &:active {
      transform: scale(0.98);
    }
  }
}
