.cards-container {
  max-width: 600px;
  margin: 48px auto;
}

.card-field {
  display: flex;
  .contact-label {
    width: 150px;
  }
  .label {
    width: 80px;
  }
  p small {
    color: #a2a2a2;
  }
  .userinfo-input {
    border: none;
    width: 30px;
    padding: 4px;
    outline: none;
    &:enabled {
      background-color: #f0f0f0;
    }
  }
}

.contactinfo-input {
  background-color: white;
  border: none;
  width: 100%;
  margin-right: 12px;
  padding: 4px;
  box-sizing: border-box;
  outline: none;
  &:enabled {
    background-color: #f0f0f0;
  }
}

.contact-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 48px 32px 32px 32px;
  .col-1 {
    flex-grow: 1;
  }
  .col-2 {
    flex-grow: 1;
  }
  .profile-name {
    position: absolute;
    top: -26px;
    //background-color: white;
    padding: 4px 16px;
    color: white;
    border: 1px solid $dull-cyan;
    background-color: $dull-cyan;
  }
}

.btn-edit {
  font-size: 12px;
  color: $violet;
  cursor: pointer;
}

#toggle-container {
  box-sizing: border-box;
  margin-top: 16px;
  padding: 32px;
  background-color: white;
  width: 50%;
}

.toggle-illness {
  display: flex;
  //justify-content: center;
  align-items: center;
  p {
    width: 160px;
  }
}