.cards-container {
  max-width: 600px;
  margin: 48px auto;
}

.card-field {
  &.measurements {
    margin-bottom: 12px;
  }
  .contact-label {
    width: 150px;
    font-size: 12px;
    color: #a2a2a2;
  }
  .label {
    font-size: 12px;
    color: #a2a2a2;
    display: inline-block;
    min-width: 40px;
  }
  p small {
    color: #a2a2a2;
  }
  .userinfo-input {
    width: 30px;
    padding: 4px;
    outline: none;
    border-width: 0 0 1px 0;
    border-color: transparent;
    border-style: solid;
    font-size: 16px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    text-align: right;
    &:enabled {
      border-bottom: 1px solid $dull-cyan;
    }
  }
}

.contactinfo-input {
  box-sizing: border-box;
  width: 80%;
  margin-right: 12px;
  padding: 4px 0;
  background-color: white;
  outline: none;
  border-width: 0 0 1px 0;
  border-color: transparent;
  border-style: solid;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  &:enabled {
    border-bottom: 1px solid $dull-cyan;
  }
  &:disabled {
    color: #000;
  }
}

.contact-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 48px 32px 32px 32px;
  @media all and (max-width: 500px) {
    display: block;
  }
  .col-1 {
    flex-grow: 1;
    @media all and (max-width: 500px) {
      max-width: 200px;
      margin: 0 auto;
    }
  }
  .col-2 {
    flex-grow: 1;
    @media all and (max-width: 500px) {
      max-width: 200px;
      margin: 32px auto 0 auto;
    }
  }
  .section-description {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
}

.profile-name-container {
  position: absolute;
  top: -26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  .profile-name {
    white-space: nowrap;
    padding: 4px 16px;
    color: white;
    background-color: $dull-cyan;
  }
  > .btn-logout {
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
  }
}

.btn-edit {
  font-size: 12px;
  color: $violet;
  cursor: pointer;
  margin: 0 16px;
}

.btn-logout {
  border: none;
  background-color: transparent;
  color: $violet;
  cursor: pointer;
  outline: none;
}

#toggle-container {
  box-sizing: border-box;
  margin-top: 16px;
  padding: 32px;
  background-color: white;
  width: 50%;
  min-width: 288px;
  @media all and (max-width: 500px) {
    width: 100%;
  }
  .inner {
    @media all and (max-width: 500px) {
      max-width: 200px;
      margin: 0 auto;
    }
  }
}

.toggle-illness {
  display: flex;
  align-items: center;
  p {
    width: 160px;
  }
  margin: 0 auto;
}