.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btn {
  &.block {
    display: block;
    font-family: "Helvetica Neue", sans-serif;
    outline: none;
    color: white;
    width: 100%;
    background-color: $violet;
    padding: 12px 0;
    font-weight: 400;
    border: 1px solid $violet;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    transition: all 300ms;
    &:hover {
      background-color: #89527d;
      color: white;
    }
  }
}

.tabs {
  //margin-bottom: 8px;
  a {
    display: inline-block;
    padding: 8px 16px;
    transition: all 300ms;
    &.active {
      background-color: white;
      color: $dull-cyan;
    }
  }
}

.test-list {
  margin-bottom: 64px;
}

.products {
  background-color: white;
}

.test {
  overflow: hidden;
  border-bottom: 1px solid #f4f4f4;
  .test-inner {
    box-sizing: border-box;
    background-color: white;
    padding: 16px;
    transition: all 200ms;
    &:hover {
      background-color: #fafafa;
    }
    &.in-cart {
      opacity: 0.5;
    }
    .desc {
      p {
        margin-right: 8px;
        font-size: 12px;
        height: 32px;
        overflow: hidden;
      }
    }
    .price-container {
      display: flex;
      align-items: center;
      margin-top: 16px;
      .price {
        width: 100%;
        font-size: 20px;
      }
      button {
        font-family: "Helvetica Neue", sans-serif;
        padding: 12px;
        width: 120px;
        border: 1px solid $violet;
        outline: none;
        background-color: white;
        color: $violet;
        cursor: pointer;
        transition: all 300ms;
        &:hover {
          background-color: $violet;
          color: white;
        }
        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
}

.cart {
  top: 0;
  min-width: 340px;
  background-color: white;
  &.fixed {
    position: fixed;
  }
  h2 {
    padding: 16px 16px 0 16px;
  }
  .cart-inner {
    position: relative;
    padding: 0 16px 16px 16px;
    max-height: 314px;
    overflow: scroll;
    .cart-item-inner {
      position: relative;
      box-sizing: border-box;
      padding: 16px 8px;
      border-bottom: 1px solid #f4f4f4;
      min-width: 300px;
      transition: all 200ms;
      .price {
        position: absolute;
        right: 32px;
      }
      .remove {
        position: absolute;
        cursor: pointer;
        right: 0;
        &:hover {
          color: red;
        }
        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
  .total-price-container {
    display: flex;
    padding: 8px 44px 8px 24px;
    font-size: 20px;
    .label {
      flex-grow: 3;
      padding: 8px 0;
    }
    .total-price {
      flex-grow: 1;
      text-align: right;
      padding: 8px 0;
    }
  }
}
